<mat-card appearance="outlined" style="max-width: 960px;">
    <mat-card-header>
        <mat-card-title>
            Realizar recarga mediante {{ vendedor?.nombre }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="recargaForm">
            <mat-form-field appearance="fill">
                <mat-label>Operador</mat-label>
                <mat-select formControlName="operador">
                    <mat-option [value]="-1">Seleccione el operador</mat-option>
                    <mat-option *ngFor="let operador of operadores" [value]="operador.id_operador">
                        {{ operador.nombre }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="recargaForm.get('operador')?.hasError('min')">Seleccione el operador</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Número</mat-label>
                <input matInput type="number" formControlName="numero" placeholder="Ingrese el valor de la recarga">
                <mat-error *ngIf="recargaForm.get('numero')?.hasError('requiredPattern')">El número debe ser de 10 dígitos</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Valor</mat-label>
                <input matInput type="number" formControlName="monto" placeholder="Ingrese el valor de la recarga">
                <mat-error *ngIf="recargaForm.get('monto')?.hasError('multipleOfThousand')">El monto debe ser un múltiplo de $1000</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Número de documento</mat-label>
                <input matInput type="number" formControlName="documento" placeholder="Ingrese su documento de identidad">
                <mat-error *ngIf="recargaForm.get('documento')?.hasError('min')">Ingrese su número de identidad</mat-error>
            </mat-form-field>

        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="primary" (click)="onVolver()">Volver</button>
        <button mat-raised-button color="primary" (click)="submitRecarga()" [disabled]="!recargaForm.valid">
            Recargar</button>
    </mat-card-actions>
</mat-card>
